#root {
  width: 100%;
}
button {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #94b9e3;
  border-radius: 6px;
  border: 2px solid #f9f9ff;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Arabic-Regular.ttf");
  src: local("Montserrat"),
    url("/fonts/Montserrat/Montserrat-Arabic-Regular.ttf") format("truetype"),
    url("/fonts/Montserrat/Montserrat-Arabic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat/Montserrat-Arabic-Bold.ttf");
  src: local("Montserrat"),
    url("/fonts/Montserrat/Montserrat-Arabic-Bold.ttf") format("truetype"),
    url("/fonts/Montserrat/Montserrat-Arabic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins/Poppins-Bold.woff");
  src: local("Poppins"),
    url("/fonts/Poppins/Poppins-Bold.woff") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.woff");
  src: local("Poppins"),
    url("/fonts/Poppins/Poppins-Regular.woff") format("truetype");
}
